<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= game.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/games/<%= game._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="game[name]" value="<%= game.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="game[price]" min="0.01" step="0.01" value="<%= game.price %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="game[image]" value="<%= game.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="game[description]" value="<%= game.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/games">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

