<% include ../partials/header %>

<div class="row">
  
  <div class="col-md-4">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="<%= user.avatar %>" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= user.firstName + " " + user.lastName %>
					</div>
					<div class="profile-usertitle-job">
						<%= user.description %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<a href="/users/follow/<%= user.id %>">
					<button type="button" class="btn btn-success btn-sm">Follow</button></a>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
					<% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <a class="btn btn-xs btn-warning" href="/users/<%=user._id %>/edit">Edit Profile</a>
          <% }%>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Tasks </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
			<div id="map"></div>
		</div>
		<div class="col-md-8">
            <div class="profile-content">
      			    <h3><%= user.username %>'s games:</h3>
            		<ul class="nav">
            		<% games.forEach(function(game) { %>
            			<li><a href="/games/<%= game.id %>"><%= game.name %></a></li>
            		<% }); %>
            		</ul>
            </div>
            
		</div>
  
  

</div>






<script>
  function initMap() {
    var lat = <%= user.lat %>;
    var lng = <%= user.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= user.name %><br />
      <%= user.location %></strong>
      <p><%= user.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLOSgJ2Co2JElrGyk553-tRCrHlackuAs&callback=initMap"></script>

<% include ../partials/footer %>